<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-8">
				<h3>Jobs</h3>
				<div class="row">
					<div class="col-md-6" th:each="job : ${jobs}">
						<div>
							<h4>
								<a th:href="@{/}" th:text="${job.title}"></a>
							</h4>
							<span th:text="${job.createdBy.name}+' by '+${job.createdOn}"></span><br>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3>Announcements</h3>
				<div th:each="announcement : ${announcements}">
					<h4>
						<a th:href="@{/}" th:text="${announcement.title}"></a>
					</h4>
					<span
						th:text="${announcement.createdBy.name}+' by '+${announcement.createdOn}"></span><br>
					<br>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 30px">
			<div class="col-md-3" th:each="category : ${categories}">
				<h3>
					<b> <a th:href="@{/}" th:text="${category.name}"></a></b>
				</h3>
				<p th:each="link : ${category.links}">

					<span><a th:href="@{/}" th:text="${link.title}"></a></span><br>
				</p>
			</div>
		</div>
	</section>

</body>
</html>